---
layout: default
---
<h1>to fancy is to observe</h1>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "default title is Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            
          </a>
        </h3>
        <!-- i added this part -->
        <h9>{{post.sneakPeak}}</h9>  
        <!-- in here add extra info for the page, or even picture if u find a way!!!!!!!!!!!!! -->
        <!-- {% include icon-twitter.svg %} -->
        
        
        {%- if post.embl -%}    <!-- this if ensures theres photo to begin with -->
          {% include {{post.embl}} %}
        {%- endif -%}
        <!-- {{post.embl}} -->

        {%- if post.image -%}    <!-- this if ensures theres photo to begin with -->
           <img src="{{ post.image }}">
        {%- endif -%}
       

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
